<h2>Listado de Entradas registradas</h2>
<table class="table table-stripped">
    <thead>
        <th>Titulo Entrada</th>
        <th>Fecha Entrada</th>
        <th>Imagen Entrada</th>
        <th>Adicionar Blog</th>
        <th>Eliminar Entrada</th>
    </thead>
    <tbody>
        <tr>
            <td>Primera Entrada IntegrowHome</td>
            <td>28/09/2020</td>
            <td>imagen1</td>
            <td>   <a class="btn btn-secondary btn-blog" ui-sref="listadoEDetalle">Blog</a> </td>
            <td> <button class="btn btn-secondary">Eliminar</button> </td>
        </tr>
        <tr>
            <td>Segunda Entrada IntegrowHome</td>
            <td>29/09/2020</td>
            <td>imagen2</td>
            <td>   <a class="btn btn-secondary btn-blog" ui-sref="listadoEDetalle">Blog</a> </td>
            <td> <button class="btn btn-secondary">Eliminar</button> </td>
        </tr>
    </tbody>
</table>