<!-- <header>
    datos de la entrada
</header> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-6">
            <label for="">Titulo Blog:</label>
            <input class="form-control" type="text" name="" id="">
        </div>
    </div>
    <div class="row">
        <div class="col-6 d-flex flex-column">
            <label for="">Imagen Blog:</label>
           <button class="btn btn-secondary mb-2">Subir</button>
           <img src="..." alt="" class="circle">
            <img width="100%" src="../images/aprenderHaciendo_Aristoteles.png"  alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="">Detalle Blog:</label>
            <textarea class="form-control" name="" id="" cols="10" rows="20"></textarea>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col col-md-6 mx-auto">

            <div class="d-flex justify-content-end mb-2">
                <button class="btn btn-secondary">Guardar</button>
            </div>

            <div class="jumbotron jumbotron-blog d-flex  justify-content-around">
                
                <div>
                    <label for="">Entrada: </label>
                    <label for="">Primera Entrada de IntegrowHome</label>
                </div>
       
                <div>
                    <label for="">Fecha:</label>
                    <label for="">08/09/2020</label>
                </div>
               
            </div>
            <div>
                <label for="">Titulo Blog</label>
                <input class="form-control" type="text">
            </div>
            <div>
                <label for="">Imágen Blog:</label>
                <button class="btn btn-secondary btn-block mb-2">Subir</button>
                <img width="100%" src="images/aprenderHaciendo_Aristoteles.png"  alt="">
            </div>
            <div>
                <label for="">Detalle Blog:</label>
                <textarea class="form-control" name="" id="" cols="10" rows="20"></textarea>
            </div>
        </div>
    </div>
</div>